<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/stylH.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--1-faimly font-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">  <!--2-faimly font-->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- icon addition-->

    <title>University website designs header </title>
</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"> <img src="css/logo.png" alt="logo"></a>
            <div class="nav-link" id="navicons">
                <i class="fa fa-times" onclick="hidemenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Course</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact

                        </a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showmenu()"></i>
        </nav>
        <div class="text-box">
            <h1>World biggest University</h1>
            <p> Making website now is one of the easiest thing in the world. You just need to learn html, CSS,
                <br>Javascript and you are good to go</p>
            <a href="" class="hero-btn">Vsit us to know More</a>
        </div>
    </section>
</body>
<script>
    var icon = document.getElementById("navicons");
    function hidemenu() {
        icon.style.right = '-200px';
    }
    function showmenu() {
        icon.style.right = '0';
    }
</script>

</html>